@charset "utf-8";
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
        overflow:auto;
    }
    body {
        display: grid;
        grid-template-columns: 1fr
        grid-template-rows: auto 1fr 2fr 1fr auto;
        grid-template-areas:
            "header"
            "left"
            "main" 
            "right"
            "footer";
    }
    header {
        grid-area: header;
        padding: 1em;
        background-color: green;
    }
    aside {
        grid-area: left;
        padding: 1em;
        background-color: gray;
    }
    main {
        grid-area: main;
        padding: 1em;
        background-color: brown;
    }
    aside:last-of-type {
        grid-area: right;
    }
    footer {
        grid-area: footer;
        padding: 1em;
        background-color: green;
    }

@media screen and (max-width:575px) {
        .body {
          default
   }
    
@media screen and (min-width:576px) and (max-width:991px) {
      .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas:
            "header header"
            "left right"
            "main main"
            "footer footer";
     }
    }

@media screen and (min-width:992px) {
      .body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header"
            "left main right"
            "footer footer footer";
     }
    }
